@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700;900&display=swap');

.container {
    display: flex;
}

.leftSection {
    background-color: #D40136;
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.blurbContainer {
    color: #ffffff;
}

.blurbTitle {
    font-size: 4vw;
    margin-bottom: 10px;
    margin-top: 10%;
}

.blurb {
    font-size: 18px;
    line-height: 30px;
    line-height: 1.75;
}

.avatarImage {
    max-width: 250px;
    min-width: 200px;
    align-self: center;
    padding-top: 5%;
}

.rightSection {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100vh;
}

.pageclipForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.input {
    width: 100%;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
    border: 1px solid #dadada;
    border-radius: 5px;
    transition: ease all .5s;
}

.inputLabel {
    align-self: flex-start;
    padding-bottom: 5px;
}

#message {
    height: 30%;
}

#pageclipFormSubmit {
    border: none;
    background-color: #D40136;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
}

#pageclipFormSubmit:hover {
    background-color: #d401369c;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .pageclipForm {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        height: 100vh;
    }

    .leftSection {
        width: 100%;
        height: 40vh;
        min-height: 350px;
    }

    .rightSection {
        width: 100%;
        min-height: 70%;
    }

    .avatarImage {
        padding: 2% 0 0 0;
        width: 25%;
        min-width: 150px;
        max-width: 200px;
    }

    .blurbTitle {
        margin-top: 25%;
    }

    .blurb {
        font-size: 16px;
    }

    .pageclipForm {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .blurbTitle {
        margin-top: 40%;
    }

    .avatarImage {
        padding: 0;
        min-width: 130px;
    }

    .pageclipForm {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .blurbTitle {
        margin-top: 50%;
        font-size: 6vw;
    }

    .avatarImage {
        min-width: 115px;
    }
}

@media only screen and (max-width: 820px) and (orientation: landscape) {
    .leftSection {
        min-height: 280px;
        flex-direction: row-reverse;
        align-items: center;
        padding: 20px 50px 0 50px;
    }

    .blurbContainer {
        padding-left: 15px;
        margin: 0;
    }

    .blurbTitle {
        font-size: 4vw;
        margin: 0;
    }

    .blurb {
        font-size: 15px;
    }

    .avatarImage {
        padding: 0 25px 0 0;
        margin: 0;
    }

    .pageclipForm {
        height: 160vh;
        margin: 0;
    }
}