/* Whole page */
.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


/* Left side of page */
.leftSection {
    background-color: #D40136;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    position: absolute;
    top: 0;
    margin: 100px;
}

.contentContainer {
    width: 80%;
    margin-top: 40px;
}

.logoContainer {
    padding: 5%;
    border: 5px solid #FCC6D0;
}

.blurbContainer {
    border-left: 5px solid #8B0130;
    padding: 10px;
    margin-top: 10%;
}

.titleA {
    color: #ffffff;
    margin: 0;
}

.blurb {
    color: #ffffff;
    font-size: 18px;
}


/* Right side of page */
.rightSection {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.topRight {
    background-color: #FCC6D0;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.bottomRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.titleB {
    color: #8B0130;
    margin-bottom: 30px;
    font-size: 40px;
}

.iconLink {
    padding: 0 35px 0 35px;
}

.icon {
    width: 55px;
    height: 55px;
}


@media only screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .leftSection, .rightSection {
        width: 100%;
    }

    .contentContainer {
        width: 80%;
        margin-top: 110px;
    }
    
    .logoContainer {
        width: inherit;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .nameLogo {
        max-height: 30vh;
    }
    
    .blurbContainer {
        width: inherit;
        margin: 10% auto;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .contentContainer {
        width: 95%;
    }

    .logoContainer {
        width: 80%;
        padding: 10px;
    }

    .nameLogo {
        max-height: 40vh;
    }
    
    .blurbContainer {
        margin: 40px auto 40px auto;
        width: 80%;
    }

    .phoneImage {
        max-width: 50%;
    }

    .bottomRight {
        margin: 30px 0 65px 0;
    }

    .phoneImage {
        /* height: 70vh; */
    }
}

@media only screen and (max-width: 600px) {
    .contentContainer {
        width: 90%;
    }

    .leftSection {
        /* width: 100vw; */
    }

    .titleA {
        font-size: 5vw;
    }

    .phoneImage {
        max-width: 90%;
    }

    .rightSection {
        flex-direction: column-reverse;
    }

    .bottomRight {
        margin-bottom: 50px;
    }

    .blurbContainer {
        /* padding-bottom: 0px; */
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .contentContainer {
        margin-top: 100px;
    }

    .iconLink {
        padding: 0 25px 0 25px;
    }
}
